#page-schedule-success{
    background: var(--color-primary);
    background-size: auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/images/success-background.svg");
    background-repeat: no-repeat;
    margin: 3.2rem 0;

}

#page-schedule-success strong{
    color: var(--color-text-in-primary);
    font: 600 3rem Archivo;
    line-height: 4rem;
    margin-top: 0.8rem;
    max-width: 25rem;

}

#page-schedule-success p{
    color: var(--color-line-in-white);
    line-height: 3.5rem;
    margin-top: 0.8rem;
    font: 600 2rem Archivo;
    max-width: 75rem;
}

#page-schedule-success .success-check{
    width: 10rem;
}

#page-schedule-success main .button-container a{
    width: 30rem;
    height: 10.4rem;
    border-radius: 2rem 2rem 2rem 2rem;

    font: 700 2.4rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: solid;

    transition: background 0.2s;

    color: var(--color-button-text);
}